@model CloudFoundryViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <div class="media">
        <a class="pull-left" href="http://pivotal.io">
            <img class="" src="~/images/icon_pivotal_generic@2x.png" title="Dotnet" alt="Dotnet" height="40" width="40" />
        </a>
        <div class="media-body" valign="middle">
            <h2 class="media-heading">Pivotal Application Services for .NET</h2>
        </div>
    </div>
    <p class="lead">Cloud Ready to Cloud Native </p>
    <p class="lead">Whether you are supporting legacy applications or developing new microservices on .NET Framework or .NET Core, Pivotal Application Services can help you focus on your code and not the infrastructure.</p>
    <p>
        <a href="@Model.ConfigData.AppsManagerUrl" class="btn btn-primary btn-lg" target="_blank">Apps Manager &raquo;</a>
        <a class="btn btn-primary btn-lg" href="@Model.ConfigData.ExchangeUrl" target="_blank">PCF Exchange &raquo;</a>
    </p>
</div>
<div><h2>Overview</h2></div>
<div class="row">
    <div class="col-md-4">
        <h3>Cloud Native Introduction</h3>
        <p>
            What are the most common software development challenges accross different industries? What the traditional software deployment models look like? What it takes to become Cloud Native? Pivotal Vision.
        </p>
        <p>
            <a class="btn btn-default" href="@(Model.ConfigData.GithubRepoUrl)/blob/master/Content/Cloud%20Native%20Intro%20V1.0.pdf" target="_blank">Presentation &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Cloud Native Services</h3>
        <p>
            Are microservices going to solve all the problems? What are some of the challenges of building microservice applications? How Netflix did it? How Cloud Native Services can help? Introducing Config Server, Eureka Service Registry, Hystrix. Steeltoe Introduction.
        </p>
        <p>
            <a class="btn btn-default" href="@(Model.ConfigData.GithubRepoUrl)/blob/master/Content/Cloud%20Native%20Services%20V1.0.pdf" target="_blank">Presentation &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Pivotal Cloud Platform Overview</h3>
        <p>
            Building applications on a secure, highly resilient, and scalable platform is a requirement for enterprise applications. See how Pivotal Cloud Foundry gets you out of the infrastructure and focused on your code.
        </p>
        <p>
            <a class="btn btn-default" href="@(Model.ConfigData.GithubRepoUrl)/blob/master/Content/PCF%20Platform%20V1.0.pdf" target="_blank">Presentation &raquo;</a>
        </p>
    </div>
</div>
<div><h2>Platform</h2></div>
<div class="row">
    <div class="col-md-4">
        <h3>PCF Basics</h3>
        <p>
            Pivotal Application Services are easy to use. Deploying applications is as simple as a "cf push"
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950" target="_blank">Presentation &raquo;</a>
            <a class="btn btn-default" href="https://drive.google.com/file/d/0BzJCQqLrHhm-TWg2S1JaWFRKN2s/view" target="_blank">Whiteboard &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Stemcells/Buildpacks</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Presentation &raquo;</a>
            <a class="btn btn-default" href="https://drive.google.com/file/d/0B6VqHf2tpJ-IUGI5U2NhYzFpamM/view" target="_blank">Whiteboard &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Pushing an App</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Demo &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Scaling and Failover</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            <a class="btn btn-default" asp-area="" asp-controller="Workshop" asp-action="Platform">Demo &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Apps Manager</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>

    </div>
    <div class="col-md-4">
        <h3>Logging and Metrics</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>
<div><h2>Cloud Patterns and Steeltoe</h2></div>
<div class="row">
    <div class="col-md-4">
        <h3>Config Server</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
            <a class="btn btn-default" asp-area="" asp-controller="Workshop" asp-action="Configuration">Demo &raquo;</a>
            @*<div class="btn btn-default">
            @Html.ActionLink("Config Server", "Configuration", "Workshop")
        </div>*@
        </p>
    </div>
    <div class="col-md-4">
        <h3>Service Discovery</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
            <a class="btn btn-default" asp-area="" asp-controller="Workshop" asp-action="Services">Demo &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Circuit Breaker</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            <a class="btn btn-default" asp-area="" asp-controller="Workshop" asp-action="Services">Demo &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Security</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Database Access</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            <a class="btn btn-default" asp-area="" asp-controller="Attendee" asp-action="Index">Demo &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>CI/CD Pipelines</h3>
        <p>
            Continuous delivery is key attribute to being an Agile organization. Pivotal Application Services can seemlessly integrate into existing CI/CD pipelines to fully automate workload deployments including easy blue-green deployments.
        </p>
        <p>
            <div class="panel-group">
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
                <a class="btn btn-default" href="https://pivotal-workshops.visualstudio.com/Workshop/_build" target="_blank">VSTS Pipelines &raquo;</a>
            </div>
            <div class="panel-group">
                <a class="btn btn-default" asp-area="" asp-controller="Workshop" asp-action="BlueGreen">Blue-Green Demo&raquo;</a>
            </div>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Management</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Marketplace Services</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Messaging</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>
<div><h2>Advanced Topics</h2></div>
<div class="row">
    <div class="col-md-4">
        <h3>App Replatforming</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>App Modernization</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Troubleshooting</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>
